################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/library/.vs/library/
/library/library/obj/
/library/LibraryServerApp/bin/
/library/LibraryServerApp/obj/