@page "/"

<h1>Welcome to Bookasaurus</h1>
<p>This is an application to store a book, dvd or game collection.</p>
<p>It can be used to track lending to people, similar to a library.</p>
<a href="/Books" >Click me to go to books</a>
